.wrap {
  position: absolute;
  left:50%;
  top: 35%;
  transform: translate(-50%,-35%);
  /* border: 1px solid red; */
}
.logo {
  height: 100px;
  width: 275px;
  box-sizing:border-box; 
  background: url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png) center center no-repeat;
  background-size:contain;
  margin:0 auto;
}
.search {
  height: 45px;
  width:580px;
  border: 1px solid black;
  margin-top: 30px;
  border-radius: 30px;
  display:flex;
  justify-content:space-around;
}
.search .edit {
  font-size:20px;
}
.search input {
  width: 85%;
  font-size:20px;
  outline: none;
  border: none;
}
.search a {
  text-align:center;
  line-height:45px;
  text-decoration: none;
}
.buttons {
  height:55px;
  width:580px;
  margin-top: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.buttons span {
  background:#ccc;
  font-size: 20px;
  margin-left: 16px;
  padding:10px;
}